* {
    margin: 0;
    padding: 0;   
}
@font-face {
    font-family: 'heavy';
    src: url('/Fonts/Uni\ Sans\ Heavy.otf');
}
@font-face {
    font-family: 'thin';
    src: url('/Fonts/Uni\ Sans\ Thin.otf');
}
:root {
    --primary: #0f6cbd;
}
body, html {
    overflow: hidden;
}
row {
    display: flex;
    flex-direction: row;
}
.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app {
    width: 100%;
    height: 100vh;
}
.hostOptions {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 420px;
    height: 320px;
    border-radius: 10px;
    margin: 30px;
    border: solid;
    background-color: white;
    text-align: center;
    font-family: 'heavy';
    overflow: auto;
}
.panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid white;
    background: rgb(0,74,255);
    background: linear-gradient(90deg, rgba(0,74,255,1) 0%, rgba(0,164,255,1) 100%);
}
.panel > img {
    margin-left: 20px;
    margin-right: 20px;
}
.hostOptions > h1 {
    font-size: 45px;
}
#code {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'heavy';
    margin: 5px;
}