@font-face {
    font-family: 'heavy';
    src: url('/Fonts/Uni\ Sans\ Heavy.otf');
}
@font-face {
    font-family: 'thin';
    src: url('/Fonts/Uni\ Sans\ Thin.otf');
}
:root {
    --primary: #0f6cbd;
    /* #0f6cbd */
}
* {
    padding: 0;
    margin: 0;
}
body, html {
    background-color: #f0f0f0;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'heavy';
}
.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: var(--primary);
}
#app {
    width: 100%;
    height: calc(100vh - 48px);
}
input {
    border: none;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    width: 189px;
    min-height: 20px;
    font-size: 20px;
}
.leftBar {
    display: block;
    float: left;
    height: 100vh;
    width: 50px;
    background-color: white;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
    background-color: white;
    padding-bottom: 20px;
    /* box-shadow: 0px 10px 24px 0px rgba(255, 255, 255, 1); */
    border-bottom: solid;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}
.content div span {
    font-size: 140px;
    color: #029cf6;

}
table {
    font-family: 'thin';
    border-collapse: collapse;
    width: 100%;
}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
th {
    font-family: heavy;
}
tr:nth-child(even) {
background-color: #dddddd;
}
.hostGame, .exploreServers, .joinViaCode {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hostGame > h1, .exploreServers > h1, .joinViaCode > h1 {
    padding: 5px;
    background-color: var(--primary);
    border-radius: 15px;
    color: white;
}
.hostGame {
    width: 35%;
    height: fit-content;
}
.exploreServers {
    width: 55%;
    height: fit-content;
}
.joinViaCode {
    width: 35%;
    height: fit-content;
}